<div class="tituloAplicacao">
  <h3>{{nomeAplicacao}}</h3>
</div>
<table class="table">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Placa</th>
    <th>Tipo</th>
    <th>Cor</th>
    <th>Ano Modelo</th>
    <th>Combustível</th>
    <th>R$ Diaria</th>
  </tr>
  <tr *ngFor="let veiculo of _veiculos | filtraVeiculo: numeroPlaca">
    <td>{{veiculo.Marca}}</td>
    <td>{{veiculo.Modelo}}</td>
    <td>{{veiculo.Placa}}</td>
    <td>{{veiculo.Tipo}}</td>
    <td>{{veiculo.Cor}}</td>
    <td>{{veiculo.AnoModelo}}</td>
    <td>{{veiculo.Combustivel}}</td>
    <td>{{veiculo.Diaria | currency: 'BRL' : 'symbol' : '1.2'}}</td>
  </tr>
</table>
<hr/>
<div class="form-control">
  <form name="CadastroVeiculo">
    <p>
        <label>Selecione a marca: </label>
        <select name="marcaVeiculo" [(ngModel)]="carroMarca" required #marca="ngModel">
            <option *ngFor="let marca of _marcas" [value]="marca.CodigoMarca">{{marca.Marca}}</option>
        </select>
        <label>Selecione o modelo: </label>
        <select name="modeloVeiculo" [(ngModel)]="carroModelo" required #modelo="ngModel">
          <option *ngFor="let modelo of _modelos" [value]="modelo.CodigoModelo">{{modelo.Modelo}}</option>
        </select>
        <label>Placa: </label>
        <input type="text" name="placaVeiculo" [(ngModel)]="carroPlaca" required #placa="ngModel" [pattern]="validarPlaca"/>
    </p>
    <p>
        <label>Selecione o tipo: </label>
        <select name="tipoVeiculo" [(ngModel)]="carroTipo" required #tipo="ngModel">
          <option *ngFor="let tipo of _tipos" [value]="tipo.CodigoTipo">{{tipo.Tipo}}</option>
        </select>
        <label>Selecione o cor: </label>
        <select name="corVeiculo" [(ngModel)]="carroCor" required #cor="ngModel">
          <option *ngFor="let cor of _cores" [value]="cor.CodigoCor">{{cor.Cor}}</option>
        </select>
    </p>
    <p>
        <label>Ano modelo: </label>
        <input type="text" name="anoVeiculo" [(ngModel)]="carroAnoModelo" required #ano="ngModel"/>
        <label>Selecione o combustível: </label>
        <select name="combustivelVeiculo" [(ngModel)]="carroCombustivel" required #combustivel="ngModel">
          <option *ngFor="let combustivel of _combustiveis" [value]="combustivel.CodigoCombustivel">{{combustivel.Combustivel}}</option>
        </select>
    </p>
    <p>
        <label>Valor da diária: </label>
        <input type="text" name="valorDiaria" [(ngModel)]="carroDiaria" required #diaria="ngModel"/>
    </p>
    <br/>
    <div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert alert-danger">
      Selecione a marca do veículo!
    </div>
    <div *ngIf="modelo.invalid && (modelo.dirty ||modelo.touched)" class="alert alert-info">
      Digite o modelo do veículo!
    </div>
    <div *ngIf="placa.invalid && (placa.dirty || placa.touched) && placa.errors" class="alert alert-info">
      Digite a placa do veículo no formato AAA-9999.
    </div>
    <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-info">
      Selecione o tipo de veículo!
    </div>
    <div *ngIf="cor.invalid && (cor.dirty || cor.touched)" class="alert alert-info">
      Selecione a cor do veículo!
    </div>
    <div *ngIf="ano.invalid && (ano.dirty || ano.touched)" class="alert alert-info">
      Digite o ano-modelo do veículo!
    </div>
    <div *ngIf="combustivel.invalid && (combustivel.dirty || combustivel.touched)" class="alert alert-info">
      Selecione o tipo de combustível do veículo!
    </div>
    <div *ngIf="diaria.invalid && (diaria.dirty || diaria.touched)" class="alert alert-info">
      Digite o valor da diária do veículo!
    </div>
    <button class="btn btn-primary" (click)="adicionarCarro(carroMarca, carroModelo, carroPlaca, carroTipo, carroCor, carroAnoModelo, carroCombustivel, carroDiaria)">Adicionar</button>
    <div style="margin-top:20px;padding:10px;background-color:#77ddff">
      <label>Digite o número da placa do veículo:</label>
      <input type="text" name="numeroPlaca" [(ngModel)]="numeroPlaca" #txtPlaca="ngModel" [pattern]="validarPlaca"/>
    </div>
    <div *ngIf="txtPlaca.invalid && (txtPlaca.dirty || txtPlaca.touched) && txtPlaca.errors" class="alert alert-info">
      Digite a placa do veículo no formato AAA-9999.
    </div>
  </form>
</div>
